.body{
    font-family: 'Arima', cursive;
    margin: 0%;
    width:628px;
    height:1200px;
}
.top-banner{
    background-image: url(images/donation5.jpg);
    height:90vh;
    width: 2000vh;
    background-repeat:no-repeat;
}
#Header{
    text-align: center;
    color: white;
    padding-top:300px;
    padding-left: 350px;
}
.love{
    text-align: center;
    color: white;
    padding-left:45%;
}
.table{
    text-align: center;
    padding-left: 45%;
    padding-top: 15%;
    margin-right: 0 600px;
}
.flex-container{
    display: flex;
    margin-bottom:150px;
}
.button{
    text-align: center;
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.push{
    display:flex;
    justify-content: space-between;
    width: 22%;
    margin: 40px auto;
    padding-left: 200px;
    padding-right: 550px;
   background-color: azure;
}
.seven{
    padding-left: 45%;
}
.nine{
    padding-left: 36%;
}
#one{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#two{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#three{
   border: 1px solid orangered;
   margin: 10px;
   padding: 30px;
   padding-top: 40px;
   border-radius: 15px;
}
#four{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#five{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#six{
    border: 1px solid orangered;
   margin: 10px;
   padding: 30px;
   padding-top: 40px;
   border-radius: 15px;
}
.ten{
    padding-left: 46%;
    padding-bottom: 2%;
}
#gold{
    text-align: center;
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
    margin:0 584px;
}
#red{
    padding-top: 2%;
    font-size: 22px;
    margin:0 580px;
}
.green{ padding-top: 2%;
    display: flex;
    padding: 30px;
    margin: 10px;
    justify-content: space-around;
}
.flex-container{
    padding-top: 2%;
    border: 2px solid gray;
    padding: 2%;
    border-radius: 10px;
}
#putu{
    display: block;
}
#cat{
    text-align: center;
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
}
.class{
    display: flex;
}
.bio{
    display: flex;
    text-align: center;
    margin: 0 520px;
}
#phy{
    text-align: center;
    background-color: crimson;
    border: 2px solid rebeccapurple;
}
#chem{
    margin: 0 580px;
}
.footer{
    text-align: center;
    margin: 0 580px;
}