.body{
    font-family: 'Arima', cursive;
    margin: 0;
    width:628px;
    height:500px;
}
.top-banner{
    background-image: url(images/donation5.jpg);
    /* height:90vh; */
    background-repeat:no-repeat;
    margin:0 55px;
}
#Header{
    text-align: center;
    color: white;
    padding-top:300px;
    padding-left: 350px;
}
.love{
    text-align: center;
    color: white;
    padding-left:45%;
}
.table{
    text-align: center;
    padding-left: 45%;
    padding-top: 15%;
    margin-right: 0 600px;
}
.flex-container{
    display: flex;
    margin-bottom:150px;
    padding-top: 2%;
    /* border: 2px solid gray; */
    padding: 2%;
    border-radius: 10px;
}
.button{
    text-align: center;
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.push{
    display:flex;
    justify-content: space-between;
    width: 22%;
    margin: 40px auto;
    padding-left: 200px;
    padding-right: 550px;
   background-color: azure;
}
.seven{
    padding-left: 45%;
}
.nine{
    padding-left: 36%;
}
#one{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#two{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#three{
   border: 1px solid orangered;
   margin: 10px;
   padding: 30px;
   padding-top: 40px;
   border-radius: 15px;
}
#four{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#five{
    border: 1px solid orangered;
    margin: 10px;
    padding: 30px;
    padding-top: 40px;
    border-radius: 15px;
}
#six{
    border: 1px solid orangered;
   margin: 10px;
   padding: 30px;
   padding-top: 40px;
   border-radius: 15px;
}
.ten{
    padding-left: 46%;
    padding-bottom: 2%;
}
#gold{
    text-align: center;
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
    margin:0 584px;
}
#red{
    padding-top: 2%;
    font-size: 22px;
    margin:0 580px;
}
.green{ padding-top: 2%;
    display: flex;
    padding: 30px;
    margin: 10px;
    justify-content: space-around;
}
#putu{
    display: block;
    background: darksalmon;
}
#cat{
    text-align: center;
    text-decoration:none;
    background-image: linear-gradient(orange,tomato);
    padding:10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
}
.class{
    display: flex;
}
.bio{
    width: 100%;
   max-width: 50%;
   margin: 0 auto;
   text-align: center;
   padding-top: 6%;
}
.update-form {
    margin: 50px auto;
    background-color: #fcedc4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 45px;
    width: 45%;
    border-radius: 5%;
 } 
.lion{
    text-align: center;
    font-size: large;
    background:#111

}
.cow{
    display: flex;
    border: #111;
    margin: 50px;
}
#humanity{
    font-family: italic;
}
.man{
    margin-bottom: 250px;
}
.nike{
    margin-left: 150px;
}
.form-info-btn{
    background: crimson;
    color: aliceblue;
}
.adi{
    color: darkred;
}
.das{
    color: white;
}